<head>
	    <title>Google Homepage</title>
	        <link rel="stylesheet" href="link.css">
		  </head>
		    
		    <body>
			        <header>
					      <nav>
						              <ul id="nav_bar">
								                <li class="nav-links" id="gmail"><a href="#">Gmail</a></li>
										          <li class="nav-links"><a href="#">Images</a></li>
											            <li id="sign_in"><a href="#">Sign In</a></li>
												            </ul>  
													          </nav>  
														      </header>  
														          
														          <!-- GOOGLE IMG -->  
															      <div class="google">
																            <a href="#" id="google_logo"><img src="gologo.png"</a>
																	        </div>
																		    
																		    <!-- FORM SEARCH -->  
																		        <div class="form">  
																				      <form>
																					              <label for="form-search"></label>
																						              <input type="text" id="form-search" placeholder="Search Google or type URL">
																							            </form>
																								        </div>  
																									    
																									    <!-- BUTTONS -->
																									        <div class= "buttons">  
																											      <input type="submit" value="Google Search" id="google_search">
																											            <input type="submit" value="I'm Feeling Lucky" id="im_feeling_lucky">
																												        </div>

																													<!----language------>
																													      
																														
																														<div id="SIvCob">Google offered in:  <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=hi&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBA">हिन्दी</a>    <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=bn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBE">বাংলা</a>    <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=te&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBI">తెలుగు</a>    <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=mr&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBM">मराठी</a>    <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=ta&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBQ">தமிழ்</a>    <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=gu&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBU">ગુજરાતી</a>    <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=kn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBY">ಕನ್ನಡ</a>    <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=ml&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBc">മലയാളം</a>    <a href="https://www.google.com/setprefs?sig=0_kDgL-1cnVK1XvGfGI0OQOwLPRsA%3D&amp;hl=pa&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjn-Mjgzp3wAhWg4zgGHVpeAtQQ2ZgBCBg">ਪੰਜਾਬੀ</a>  </div>
																														   
																														<div class="uU7dJb">India</div>

																														     <!-- FOOTER -->
																														         <footer>
																																         <ul class="footer-left">
																																		           <li><a href="#">Advertising</a></li>
																																			             <li><a href="#">Business</a></li>
																																				               <li><a href="#">About</a></li> 
																																					               </ul>
																																						               <ul class="footer-right">    
																																								                 <li><a href="#">Privacy</a></li>
																																										           <li><a href="#">Terms</a></li>
																																											             <li><a href="#">Settings</a></li>
																																												             </ul>       
																																													         </footer>      
																																														   </body>
